<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <p class="notice" style="margin:none;padding;none"><%= notice %></p>
              <p class="alert" style="margin:none;padding;none"><%= alert %></p>  
                <div class="card">
                  <div class="card-header">
                    <h2>Edit <%= resource_name.to_s.humanize %></h2>
                  </div>
                  <div class="card-body">
                    <div class="my-5">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-floating">
                        <div class="form-group">
                          <div class="row"> 
                            <div class="col-sm-4"> 
                                <%if current_user.image.attached?%>
                                    <%= image_tag user_image(current_user,150),class:"rounded-circle" %>  
                                <%else%>
                                    <%= image_tag("male.jpg", class:"rounded-circle") %> 
                                <%end%>
                                    
                            </div>
                          </div>
                            <%= f.label :image %>
                            <%= f.file_field :image, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-floating">
                      <div class="form-group">
                        <%= f.label :name %><br />
                        <%= f.text_field :name, class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-floating">
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div><br>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="form-floating">
                      <div class="form-group">
                        
                        <%= f.label :password %> <i class="form-floating"></i><br />
                        <% if @minimum_password_length %>
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"(leave blank if you don't want to change it)" %>
                        
                      </div>
                    </div>
                    <div class="form-floating">
                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                      </div><br>
                    </div>
                    <div class="form-floating">
                      <div class="form-group">
                        <%= f.label :current_password %><br/>
                        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder:"(we need your current password to confirm your changes)"  %>
                      </div><br>
                    </div>
                    <div class="actions">
                      <%= f.submit "Update", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
                  </div>
                </div> 
                
                    <div class="card">
                      <div class="card-header">
                        <h3>Cancel my account</h3>
                      </div>
                      <div class="card-body">
                        <div class="card-body">
                          <h5 class="card-title">Unhappy?</h5>
                          <p class="card-text"><%=
                            button_to "Cancel my account",
                              registration_path(
                            resource_name), data:{
                            confirm: "Are you sure?" },
                            method: :delete, class:'btn
                            btn-danger' %></p>
                        </div>
                      </div>
                    </div>
                  <%= link_to "Back", :back %>
            </div>
        </div>
    </div>
</main>

