

<div class="container">
    <div class="row py-3">
        <div class="col-3" id="sticky-sidebar">
            <div class="sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column vertical-nav">
                            <%if signed_in?%>
                                <li class="nav-item text-center">
                                <%if current_user.image.attached?%>
                                    <%= image_tag user_image(current_user,170),class:"rounded-circle" %>  
                                <%else%>
                                    <%= image_tag("", class:"rounded-circle") %> 
                                <%end%>
                                </li><br> 
                            <%end%>
                            <li class="nav-item text-center">
                                <h1><strong><%= current_user.name.upcase%></strong></h1>
                            </li>                                   
                            <li class="nav-item">
                                <a class="dropdown-item" href="<%= edit_user_registration_path%>">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                  <a class="dropdown-item" href="<%= destroy_user_session_path%>" data-method="delete">Sign Out</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-5" id="main">
           <p id="notice"><%= notice %></p>

            <p>
              <strong>Tweet:</strong>
              <%= @tweet.tweet %>
            </p>
            <div id='com'>
                <%= render @tweet.comments %>
            </div>

            <%= render 'comments/form' %>

            <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
            <%= link_to 'Back', tweets_path %>
        </div>
        <div class="col-4 order-2"  id="sticky-sidebar">
        <div class="sticky-top" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto flex-column vertical-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="<%= root_path%>">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_session_path%>">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Setting</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= current_user.name%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="<%= edit_user_registration_path%>">Edit Profile</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="<%= destroy_user_session_path%>" data-method="delete">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


